<mat-toolbar>
  <span>SWAPI</span>
  <span class="example-spacer"></span>
  <button mat-button>Home</button>
  <button mat-button>Movies</button>
  <button mat-button>Ships</button>
  <span class="example-spacer"></span>
  <button mat-icon-button color="primary" class="example-icon favorite-icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
